Button {
    /** ALL CAPS **/
    text-transform: capitalize;
    background-color: black;
}

DockLayout { 
    background-color: black;
}

GridLayout { 
    background-color: black;
}

ActionBar { 
    background-color: black;
    color: white;
}

Page {
    background-color: black;
    color: white;
}

.menuButton {
    background-color: #467ace; color: black
}

.bottomMenu {
    width:33%
}

