<StackLayout orientation="vertical" xmlns:ac="nativescript-autocomplete">
    <Label text="Activity Name" textWrap="true"></Label>
    <TextField [(text)]="activity.name"></TextField>

    <Label text="Activity Duration" textWrap="true"></Label>
    <StackLayout orientation="horizontal" xmlns:ac="nativescript-autocomplete">
        <TextField text=""></TextField>
        <Label text="seconds"></Label>
    </StackLayout>
    <Label text="Rest For" textWrap="true"></Label>
    <StackLayout orientation="horizontal" xmlns:ac="nativescript-autocomplete">
        <TextField hint="" text=""></TextField>
        <Label text="seconds"></Label>
    </StackLayout>
    <Label text="Repeat" textWrap="true"></Label>
    <StackLayout orientation="horizontal" xmlns:ac="nativescript-autocomplete">
        <TextField hint="" text=""></TextField>
        <Label text="seconds"></Label>
    </StackLayout>
    <ac:Autocomplete items="{{activityNames}}" (itemTap)="selectActivity()"></ac:Autocomplete>
</StackLayout>


