<ActionBar title="">
    <ActionItem text="Go Back" (tap)="goBack()" android.position="left" android.systemIcon="ic_menu_back"></ActionItem>

    <ActionItem text="Save" (tap)="save()" android.systemIcon="ic_menu_save"></ActionItem>
    <ActionItem text="Del" (tap)="cancel()" android.systemIcon="ic_delete"></ActionItem>
</ActionBar>

<StackLayout orientation="vertical" xmlns:ac="nativescript-autocomplete">
    <Label text="Activity belongs to group" textWrap="true"></Label>
    <ListPicker #picker [items]="groupNames" [selectedIndex]="selectedIndex" (selectedIndexChange)="selectedIndexChanged(picker)" ></ListPicker>
    
    <Label text="Activity Name" textWrap="true"></Label>
    <TextField [(text)]="timedActivity.activity.name"></TextField>

    <Label text="Activity Name" textWrap="true"></Label>
    <TextField [(text)]="timedActivity.activity.description"></TextField>

    <Label text="Activity Duration" textWrap="true"></Label>
    <StackLayout orientation="horizontal" xmlns:ac="nativescript-autocomplete">
        <TextField [(text)]="timedActivity.workPeriodInSecs"></TextField>
        <Label text="seconds"></Label>
    </StackLayout>
    <Label text="Rest For" textWrap="true"></Label>
    <StackLayout orientation="horizontal" xmlns:ac="nativescript-autocomplete">
        <TextField hint="" [(text)]="timedActivity.restPeriodInSecs"></TextField>
        <Label text="seconds"></Label>
    </StackLayout>
    <Label text="Repeat" textWrap="true"></Label>
    <StackLayout orientation="horizontal" xmlns:ac="nativescript-autocomplete">
        <TextField hint="" [(text)]="timedActivity.repeat"></TextField>
        <Label text="seconds"></Label>
    </StackLayout>
    
</StackLayout>


